// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /** marine **/
  --ion-color-marine: #003441;
	--ion-color-marine-rgb: 0,52,65;
	--ion-color-marine-contrast: #ffffff;
	--ion-color-marine-contrast-rgb: 255,255,255;
	--ion-color-marine-shade: #002e39;
	--ion-color-marine-tint: #1a4854;
  
  /** olive **/
  --ion-color-olive: #c1bb40;
	--ion-color-olive-rgb: 193,187,64;
	--ion-color-olive-contrast: #000000;
	--ion-color-olive-contrast-rgb: 0,0,0;
	--ion-color-olive-shade: #aaa538;
	--ion-color-olive-tint: #c7c253;

  /** laurel **/
  --ion-color-laurel: #d1f26e;
	--ion-color-laurel-rgb: 209,242,110;
	--ion-color-laurel-contrast: #000000;
	--ion-color-laurel-contrast-rgb: 0,0,0;
	--ion-color-laurel-shade: #b8d561;
	--ion-color-laurel-tint: #d6f37d;

  /** gray **/
  --ion-color-gray: #c0d0af;
	--ion-color-gray-rgb: 192,208,175;
	--ion-color-gray-contrast: #000000;
	--ion-color-gray-contrast-rgb: 0,0,0;
	--ion-color-gray-shade: #a9b79a;
	--ion-color-gray-tint: #c6d5b7;

  /** platinum **/
  --ion-color-platinum: #eff0f0;
	--ion-color-platinum-rgb: 239,240,240;
	--ion-color-platinum-contrast: #000000;
	--ion-color-platinum-contrast-rgb: 0,0,0;
	--ion-color-platinum-shade: #d2d3d3;
	--ion-color-platinum-tint: #f1f2f2;
}

.ion-color-marine {
	--ion-color-base: var(--ion-color-marine);
	--ion-color-base-rgb: var(--ion-color-marine-rgb);
	--ion-color-contrast: var(--ion-color-marine-contrast);
	--ion-color-contrast-rgb: var(--ion-color-marine-contrast-rgb);
	--ion-color-shade: var(--ion-color-marine-shade);
	--ion-color-tint: var(--ion-color-marine-tint);
}

.ion-color-olive {
	--ion-color-base: var(--ion-color-olive);
	--ion-color-base-rgb: var(--ion-color-olive-rgb);
	--ion-color-contrast: var(--ion-color-olive-contrast);
	--ion-color-contrast-rgb: var(--ion-color-olive-contrast-rgb);
	--ion-color-shade: var(--ion-color-olive-shade);
	--ion-color-tint: var(--ion-color-olive-tint);
}

.ion-color-laurel {
	--ion-color-base: var(--ion-color-laurel);
	--ion-color-base-rgb: var(--ion-color-laurel-rgb);
	--ion-color-contrast: var(--ion-color-laurel-contrast);
	--ion-color-contrast-rgb: var(--ion-color-laurel-contrast-rgb);
	--ion-color-shade: var(--ion-color-laurel-shade);
	--ion-color-tint: var(--ion-color-laurel-tint);
}

.ion-color-gray {
	--ion-color-base: var(--ion-color-gray);
	--ion-color-base-rgb: var(--ion-color-gray-rgb);
	--ion-color-contrast: var(--ion-color-gray-contrast);
	--ion-color-contrast-rgb: var(--ion-color-gray-contrast-rgb);
	--ion-color-shade: var(--ion-color-gray-shade);
	--ion-color-tint: var(--ion-color-gray-tint);
}

.ion-color-platinum {
	--ion-color-base: var(--ion-color-platinum);
	--ion-color-base-rgb: var(--ion-color-platinum-rgb);
	--ion-color-contrast: var(--ion-color-platinum-contrast);
	--ion-color-contrast-rgb: var(--ion-color-platinum-contrast-rgb);
	--ion-color-shade: var(--ion-color-platinum-shade);
	--ion-color-tint: var(--ion-color-platinum-tint);
}