.slide {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
}

.rightArrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 32px;
    font-size: 45px;
    color: #fff;
    z-index: 1;
    cursor: pointer;
}

.leftArrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 32px;
    font-size: 45px;
    color: #fff;
    z-index: 1;
    cursor: pointer;
}

.slider {
    position: relative;
    height: 100%;
}

.dotsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 1.8rem;
    color: var(--ion-color-gray);
}

.selected {
    color: var(--ion-color-marine);
    font-size: 2.5rem;
}

.example img {
    width: 100vw;
    height: 25vh;
}
  
.example-cover img {
    object-fit: cover;
}